.container {
  padding: 10px 0;
  width: 100%;
}

.tableContainer {
  padding: 10px 0;
  width: 100%;
}

.tableCmdPanel {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 180px 1fr;
  justify-items: left;
  align-items: center;
}

.tableCmdBtn {
  width: 140px;
}