.container {
  padding: 10px 0;
  width: 100%;
}

.queryPannel {
  padding: 15px 15px;
  margin: 10px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 30px 70px 30px 1fr;
  grid-template-rows: 50px 50px 70px 50px 50px;
  grid-gap: 5px;
}

.checkpointSelect {
  max-width: 200px;
}

.addCheckpointBtn {
  grid-area: 3 / 3 / 3 / 3;
  width: 100%;
}

.checkpointArgsBlock {
  min-height: 300px;
}

.checkpointList {
  grid-area: 1 / 5 / 6 / 5;
}

.checkpointDescription {
  padding: 5px 0 0 5px;
  grid-area: 2 / 1 / 2 / 2;
}

.checkPointComp {
  grid-area: 3 / 1 / 6 / 2;
}

.tagContainer {
  display: inline-block;
}

.argNodes {
  padding: 15px 10px 10px 10px;
  display: grid;
  justify-items: left;
  align-items: center;
  gap: 5px;
  grid-template-columns: minmax(0, 140px) 140px 10px 80px 5px 80px;
}

.display_name {
  text-align: center;
}

.argNodesSelect {
  width: 100%;
}

.valueText {
  width: 100%;
}
