.container {
  padding: 10px 0;
  width: 100%;
}

.groupPannel {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 300px 1fr auto;
  gap: 5px;
  justify-items: left;
  align-items: center;
}

.checklistSelect {
  margin: 10px 0px;
  width: 100%;
}

.openCheckpointPannelBtn {
  
}

.queryPannel {
  border: 1px solid darkcyan;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 30px 70px 30px 1fr;
  grid-template-rows: 50px 50px 70px 50px 50px;
  grid-gap: 5px;
}

.checkpointSelect {
  max-width: 200px;
}

.addCheckpointBtn {
  grid-area: 3 / 3 / 3 / 3;
  width: 100%;
}

.checkpointList {
  grid-area: 1 / 5 / 2 / 5;
}

.checkpointArgsBlock {
  min-height: 300px;
}

.tableContainer {
  padding: 10px 0;
  width: 100%;
}

.tableCmdPanel {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 300px 180px 1fr;
  justify-items: left;
  align-items: center;
}

.tableCmdBtn {
  width: 140px;
}