.container {
  padding: 10px 0;
}

.risk {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.bombImg {
  top: 5px;
}

.links {
  display: grid;
  grid-template-columns: 32px 32px;
  align-items: center;
  gap: 20px;
}

.linkIcon {
  top: 10px;
}
