.container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cmdPanel {
  padding: 10px;
  display: grid;
  grid-template-columns: 0px 100px 30px 100px 1fr auto;
  justify-items: left;
  align-items: center;
}
