@mixin argNodesTemplate {
  padding: 10px;
  display: grid;
  justify-items: left;
  align-items: center;
  gap: 5px;
}

.argNodes {
  @include argNodesTemplate;

  grid-template-columns: minmax(0, 120px) 120px 10px 80px 5px 80px;
}

.display_name {
  text-align: center;
}

.argNodesSelect {
  width: 100%;
}

.valueText {
  width: 100%;
}
