.container{
  padding: 20px 20px 10px 20px;
}

.linkTitle{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 5px;
}

.link{
  display: inline-block;
  font-size: 20px;
  padding-right: 30px;
}

.copyright{
  width: 100%;
  text-align: center;
  padding-top: 15px;
}