.container {
  width: 100%;
  padding-bottom: 5px;
}

@mixin kanbanBlockTemplate {
  display: grid;
  justify-items: left;
  align-items: start;
}


.kanbanBlock {
  @include kanbanBlockTemplate;
  grid-template-columns: 75px 5px minmax(180px, auto) minmax(90px, 160px);
}

.kanbanimg {
  width: 75px;
}

.darkmodetoggle {
  padding: 0px 0px 0px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
