.container {
  width: 100%;
  padding-bottom: 5px;
}

@mixin kanbanBlockTemplate {
  display: grid;
  justify-items: left;
  align-items: start;
}


.kanbanBlock {
  @include kanbanBlockTemplate;
  grid-template-columns: 75px 5px auto 160px;
}

.kanbanBlockMobile {
  @include kanbanBlockTemplate;
  
  grid-template-columns: 75px 5px 1fr 90px;
}

.kanbanimg {
  width: 75px;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
}

.darkmodetoggle {
  padding: 0 0 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
