.container {
  border: 1px solid forestgreen;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px 0;
}


@mixin argNodesTemplate {
  padding: 5px;
  display: grid;
  justify-items: left;
  align-items: center;
  gap: 5px;
}

.argNodesMobile {
  @include argNodesTemplate;
  
  grid-template-columns: 120px 10px 80px 5px 80px;
}

.argNodes {
  @include argNodesTemplate;
  
  grid-template-columns: 160px 120px 10px 80px 5px 80px;
}

.displayName {
  text-align: center;
  font-size: 18px;
  width: 170px;
  white-space: nowrap;
  line-height: 40px;
}

.argNodesSelect {
  width: 100%;
}

.valueText {
  width: 100%;
}

.tacticLabel {
  margin: 2px 7px;
}
