.container {
  border: 1px solid forestgreen;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 5px 0px;
}


@mixin argNodesTemplate {
  padding: 5px;
  display: grid;
  justify-items: left;
  align-items: center;
  gap: 5px;
}

.argNodes {
  @include argNodesTemplate;
  grid-template-columns: 100px 5px 60px 5px 60px;
}

.titleMobile {
  display: block;
  padding: 0 0 10px 5px;
}

.display_name {
  text-align: center;
  font-size: 18px;
  width: 170px;
}

.argNodesSelect {
  width: 100%;
}

.valueText {
  width: 100%;
}

.tacticLabel {
  margin: 2px 7px;
}
