.container {
  padding: 10px 0;
  width: 100%;
}

.rankingTableSelect {
  margin: 10px 0px;
  max-width: 340px;
}

.table{
  height: 800px;
  padding: 10px 0px;
}

.tagContainer {
  display: inline-block;
}