.container {
  padding: 10px 0;
  width: 100%;
}

.optionsTableSelect {
  margin: 10px 0px;
}

.queryPannel {
  border: 1px solid darkcyan;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px 0;
}

.parameterTitle {
  padding-left: 15px;
}

.parameterBlock {
  padding: 10px;
}

.valueText {
  max-width: 300px;
  width: 100%;
}

.queryBtn {
  width: 160px;
}

.table{
  height: 800px;
  padding: 10px 0px;
}